<div class="container">
   <div class="row">
      <!-- Here begin Main Content -->
      <div class="col-md-8">
         <div class="row">
            <div class="col-md-12">
               <div class="event-container clearfix">
                  <div class="left-event-content">
                     <div id="side-nav" class="span side-nav">
                        <div class="block-slacker">
                           <ul class="side-nav-group has-children">
                              <li class="side-nav-item">
                                 <a class="" href=" ">Overview</a>
                                 <ul class="side-nav-group has-children">
                                    <li class="side-nav-item  is-locked">
                                       <a class="is-locked" href="">Pre Primary </a>
                                    </li>
                                    <li class="side-nav-item  is-locked">
                                       <a class=" is-locked" href=" ">Primary I</a>
                                    </li>
                                    <li class="side-nav-item  is-locked">
                                       <a class=" is-locked" href=" ">Primary II</a>
                                    </li>
                                    <li class="side-nav-item  is-locked">
                                       <a class=" is-locked" href=" ">Secondary</a>
                                    </li>
                                 </ul>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>

                  <div class="right-event-content">
                     <h2 class="event-title">{{school?.schoolname}}</h2>
                     <div class="clearfix block-slacker">
                        <div class="quick-stats">
                           <div class="block-slacker">
                              <div class="clearfix ">
                                 <span class="rankings-category is_ranked" title="Overall Score: 100 out of 100">
                                 <a class="t-strong" href=" ">Best Budget Schools</a>
                                 </span>
                              </div>
                           </div>

                           <div class="clearfix">
                              <div class="map" id="map-canvas" >
                              </div>
                              <h3 class="h h-slacker">2017 Quick Stats</h3>
                              <div class="icon-quick-stats icon-location">
                                 <div>
                                    <h4 class="t-flush">Address</h4>
                                    <p class="t-slack t-tight">
                                       No-5,6,8 <br />
                                       Heggondahalli Village <br />
                                       Whitefield Sarjapur <br /> Main Road <br />
                                       Gunjur Post <br />
                                       Bangalore-560087
                                    </p>
                                 </div>
                              </div>
                              <div class="icon-quick-stats icon-person block-slack">
                                 <div>
                                    <h4 class="t-flush">Students</h4>
                                    <p class="t-flush t-tight">
                                       <span>1,872</span> <span class="t-small t-subdued">enrolled</span>
                                    </p>
                                 </div>
                              </div>
                              <div class="icon-quick-stats icon-dollar block-slack">
                                 <div>
                                    <h4 class="t-flush">Tuition</h4>
                                    <p class="t-flush t-tight">
                                       <span>Rs 80,333</span> <span class="t-small t-subdued">(full-time)</span>
                                    </p>
                                 </div>
                              </div>
                              <span class="t-subdued">&#8226;</span>
                              <a target="_blank" class="t-strong" id="moreinfo_link" href="http://www.hbs.edu">More Information</a>
                           </div>
                        </div>
                        <div class="datadict is-overview">
                           <h2>School Overview</h2>
                           <div id="directoryPageSection-free_overview" class="data-item">
                              <h3 class="free_overview even">School Overview</h3>
                              <a name="mlib"></a>
                              <p>
                                 The Business School at Harvard University
                                 offers these departments and concentrations:
                                 accounting, consulting, e-commerce, economics, entrepreneurship, ethics, finance, general management, health care administration, human resources management, international business, leadership, manufacturing and technology management, marketing, not-for-profit management, production/operations management, organizational behavior, portfolio management, public administration, public policy, real estate, sports business, supply chain management/logistics, quantitative analysis/statistics and operations research, tax, and technology.
                                 Its tuition is full-time: $61,225 per year.
                                 At graduation, 81.0 percent of graduates
                                 of the full-time program are employed.
                              </p>
                              <a name="blurb"></a>
                              <p>
                                 Graduate students at Harvard Business School get a hands-on education through the case method, which poses true-to-life problems students must tackle in teams. The experiential learning extends to field study teams, in which small groups of students evaluate existing organizations, and immersion trips, intense weeks of study in another country over winter breaks.
                              </p>
                           </div>
                           <div id="directoryPageSection-free_admissions" class="data-item">
                              <h3 class="free_admissions odd">Admissions</h3>
                              <table class="fields free_admissions">
                                 <tbody>
                                    <tr class="v_application_deadline row-first row-odd">
                                       <td class="column-first">
                                          Application deadline
                                          <sup></sup>
                                       </td>
                                       <td class="column-last" data-test-id="v_application_deadline">
                                          <span>
                                          April  4
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="complex-value g_ft_applicants row-odd">
                                       <td class="column-first" colspan="2">
                                          <script type="text/javascript">
                                             google.charts.load("current", {packages:["corechart"]});
                                             google.charts.setOnLoadCallback(drawChart);
                                             function drawChart() {
                                               var data = google.visualization.arrayToDataTable([
                                                 ['Task', 'Hours per Day'],
                                                 ['Work',     11],
                                                 ['Eat',      2],
                                                 ['Commute',  2],
                                                 ['Watch TV', 2],
                                                 ['Sleep',    7]
                                               ]);

                                               var options = {
                                                 title: 'My Daily Activities',
                                                 pieHole: 0.4,
                                               };

                                               var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                                               chart.draw(data, options);

                                             var data_1= new google.visualization.arrayToDataTable([
                                                 ['Applicants', 'Students'],
                                                 ["Applicants (full-time) (1698)", 1698],
                                                 ["Accepted (full-time) (519)", 519],
                                                 ["Enrolled (full-time) (208)", 208]
                                               ]);

                                               var options_1 = {
                                                 title: 'Applicants',
                                                 width: 430,
                                                 legend: { position: 'none' },
                                                 chart: { title: 'Applicants',
                                                          subtitle: '(full time)' },
                                                 bars: 'horizontal', // Required for Material Bar Charts.
                                                 axes: {
                                                   x: {
                                                     0: { side: 'top', label: 'Students'} // Top x-axis.
                                                   }
                                                 },
                                                 bar: { groupWidth: "50%" }
                                               };

                                               var chart_1 = new google.charts.Bar(document.getElementById('top_x_div'));
                                               chart_1.draw(data_1, options_1);
                                             }
                                          </script>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <div id="top_x_div" style="width: 400px; height: 300px;"></div>
                           </div>
                           <div id="directoryPageSection-free_students" class="data-item">
                              <h3 class="free_students odd">Student Body</h3>
                              <table class="fields free_students">
                                 <tbody>
                                    <tr class="mlb_ft_enrolled_dir_pg row-first row-odd">
                                       <td class="column-first">
                                          Enrollment (full-time)
                                       </td>
                                       <td class="column-last" data-test-id="mlb_ft_enrolled_dir_pg">
                                          <span>
                                          1,872
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="complex-value g_pct_ft_gender_enrolled row-last row-even">
                                       <td class="column-first" colspan="2">
                                          Gender distribution (full-time)
                                          <span class="footnote">
                                          <a style="cursor: help" href="">
                                          </a>
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="extra-row g_pct_ft_gender_enrolled-extra-row">
                                       <td colspan="2">
                                          <script type="text/javascript">
                                             google.charts.load("current", {packages:["corechart"]});
                                             google.charts.setOnLoadCallback(drawChart);
                                             function drawChart() {
                                               var data = google.visualization.arrayToDataTable([
                                                 ['Task', 'Hours per Day'],
                                                 ['Work',     11],
                                                 ['Eat',      2],
                                                 ['Commute',  2],
                                                 ['Watch TV', 2],
                                                 ['Sleep',    7]
                                               ]);

                                               var options = {
                                                 title: 'My Daily Activities',
                                                 pieHole: 0.4,
                                               };

                                               var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                                               chart.draw(data, options);

                                             var data_1= new google.visualization.arrayToDataTable([
                                                 ['Applicants', 'Students'],
                                                 ["Applicants (full-time) (1698)", 1698],
                                                 ["Accepted (full-time) (519)", 519],
                                                 ["Enrolled (full-time) (208)", 208]
                                               ]);

                                               var options_1 = {
                                                 title: 'Applicants',
                                                 width: 430,
                                                 legend: { position: 'none' },
                                                 chart: { title: 'Applicants',
                                                          subtitle: '(full time)' },
                                                 bars: 'horizontal', // Required for Material Bar Charts.
                                                 axes: {
                                                   x: {
                                                     0: { side: 'top', label: 'Students'} // Top x-axis.
                                                   }
                                                 },
                                                 bar: { groupWidth: "50%" }
                                               };

                                               var chart_1 = new google.charts.Bar(document.getElementById('top_x_div'));
                                               chart_1.draw(data_1, options_1);
                                             }
                                          </script>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <div id="donut" style="width: 400px; height: 300px;"></div>
                           </div>
                           <div id="directoryPageSection-free_cost" class="data-item">
                              <h3 class="free_cost even">Cost</h3>
                              <table class="fields free_cost">
                                 <tbody>
                                    <tr class="complex-value complete_tuition row-first row-odd">
                                       <td class="column-first" colspan="2">
                                          Tuition
                                          <span class="footnote">
                                          <a style="cursor: help" href="">
                                          <sup></sup>
                                          </a>
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="extra-row complete_tuition-extra-row">
                                       <td colspan="2">
                                          <p>full-time: Rs 80,333 (including one time Registration fee)</p>
                                          <p>full-time: Rs 40,333 (excluding one time Registration fee)</p>
                                       </td>
                                    </tr>
                                    <tr class="v_student_fees row-even">
                                       <td class="column-first">
                                          Registration fee
                                          <sup></sup>
                                       </td>
                                       <td class="column-last" data-test-id="v_student_fees">
                                          <span>
                                          Rs 40,000 one time
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="v_pt_student_fees row-odd">
                                       <td class="column-first">
                                          Tuition fee
                                          <sup></sup>
                                       </td>
                                       <td class="column-last" data-test-id="v_pt_student_fees">
                                          <span>
                                          Rs 25,333 per term
                                          </span>
                                       </td>
                                    </tr>
                                    <tr class="v_exe_student_fees row-last row-even">
                                       <td class="column-first">
                                          Annual fee
                                          <sup></sup>
                                       </td>
                                       <td class="column-last" data-test-id="v_exe_student_fees">
                                          <span>
                                          Rs 15,000 per year
                                          </span>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>

                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /.right-event-content -->
               </div>
               <!-- /.event-container -->
            </div>
         </div>
         <!-- /.row -->
      </div>
      <!-- /.col-md-8 -->
      <!-- Here begin Sidebar -->
      <div class="col-md-4">
         <div class="widget-main">
            <div class="widget-main-title">
               <h4 class="widget-title">School Gallery</h4>
            </div>
            <div class="widget-inner">
               <div class="gallery-small-thumbs clearfix">
                  <div class="thumb-small-gallery">
                     <a class="fancybox" rel="gallery1" href="images/gallery/gallery1.jpg" title="Gallery Tittle One">
                     <img src="images/gallery/gallery-small-thumb1.jpg" alt="" />
                     </a>
                  </div>
                  <div class="thumb-small-gallery">
                     <a class="fancybox" rel="gallery1" href="images/gallery/gallery2.jpg" title="Gallery Tittle One">
                     <img src="images/gallery/gallery-small-thumb2.jpg" alt="" />
                     </a>
                  </div>
                  <div class="thumb-small-gallery">
                     <a class="fancybox" rel="gallery1" href="images/gallery/gallery3.jpg" title="Gallery Tittle One">
                     <img src="images/gallery/gallery-small-thumb3.jpg" alt="" />
                     </a>
                  </div>
                  <div class="thumb-small-gallery">
                     <a class="fancybox" rel="gallery1" href="images/gallery/gallery4.jpg" title="Gallery Tittle One">
                     <img src="images/gallery/gallery-small-thumb4.jpg" alt="" />
                     </a>
                  </div>
                  <div class="thumb-small-gallery">
                     <a class="fancybox" rel="gallery1" href="images/gallery/gallery5.jpg" title="Gallery Tittle One">
                     <img src="images/gallery/gallery-small-thumb5.jpg" alt="" />
                     </a>
                  </div>
                  <div class="thumb-small-gallery">
                     <a class="fancybox" rel="gallery1" href="images/gallery/gallery6.jpg" title="Gallery Tittle One">
                     <img src="images/gallery/gallery-small-thumb6.jpg" alt="" />
                     </a>
                  </div>
                  <div class="thumb-small-gallery">
                     <a class="fancybox" rel="gallery1" href="images/gallery/gallery7.jpg" title="Gallery Tittle One">
                     <img src="images/gallery/gallery-small-thumb7.jpg" alt="" />
                     </a>
                  </div>
                  <div class="thumb-small-gallery">
                     <a class="fancybox" rel="gallery1" href="images/gallery/gallery8.jpg" title="Gallery Tittle One">
                     <img src="images/gallery/gallery-small-thumb8.jpg" alt="" />
                     </a>
                  </div>
               </div>
               <!-- /.galler-small-thumbs -->
            </div>
            <!-- /.widget-inner -->
         </div>
         <!-- /.widget-main -->
      </div>
      <!-- /.col-md-4 -->
   </div>
   <!-- /.row -->
</div>
<!-- /.container -->
