<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
   <![endif]-->
   <!--[if IE 7]>
   <html class="no-js lt-ie9 lt-ie8" lang="en">
      <![endif]-->
      <!--[if IE 8]>
      <html class="no-js lt-ie9" lang="en">
         <![endif]-->
         <!--[if gt IE 8]><!-->
         <html class="no-js" lang="en">
            <!--<![endif]-->
            <head>
               <title>School Rankings</title>
               <meta charset="UTF-8">
               <meta name="viewport" content="width=device-width, initial-scale=1">
               <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800' rel='stylesheet' type='text/css'>
               <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
               <!-- CSS Bootstrap & Custom -->
               <!--  <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">-->
               <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
               <link href="font/font-awesome.min.css" rel="stylesheet" media="screen">
               <link href="css/animate.css" rel="stylesheet" media="screen">
               <link href="style.css" rel="stylesheet">
               <!-- Favicons -->
               <link rel="shortcut icon" href="images/ico/favicon.ico">
               <!--[if lt IE 8]>
               <div style=' clear: both; text-align:center; position: relative;'>
                  <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" alt="" /></a>
               </div>
               <![endif]-->
            </head>
            <body>

              <header class="site-header">
                <div class="container">
                   <div class="row">
                      <div class="col-md-4">
                         <div class="logo">
                            <a href="/" rel="home">
                              <img src="images/logo.png" alt="School Rankings">
                            </a>
                         </div>
                         <!-- /.logo -->
                      </div>
                      <!-- /.col-md-4 -->
                   </div>
                </div>
                <!-- /.container -->
                 <div class="nav-bar-main" role="navigation">
                    <div class="container">
                       <nav class="main-navigation clearfix visible-md visible-lg" role="navigation">
                          <ul class="main-menu sf-menu">
                             <li><a href="/">Home</a></li>
                             <li><a href="/AboutUs">School Rankings</a></li>
                             <li><a href="/Contact">Contact</a></li>
                          </ul>
                          <!-- /.main-menu -->
                       </nav>
                       <!-- /.main-navigation -->
                    </div>
                    <!-- /.container -->
                 </div>
                 <!-- /.nav-bar-main -->
              </header>
              <!-- /.site-header -->


            
              <div class="col-md-7">
                <div class="contact-page-content">
                    <div class="contact-heading">
                        <h3>Our Contact Details</h3>
                        <p>Someone finds it difficult to understand your creative idea? There is a better visualisation. Share your views with me...</p>
                    </div>
                    <div class="contact-form clearfix">
                        <p class="full-row">
                            <span class="contact-label">
                                <label for="name-id">First Name:</label>
                                <span class="small-text">Put your name here</span>
                            </span>
                            <input type="text" id="name-id" name="name-id">
                        </p>
                        <p class="full-row">
                            <span class="contact-label">
                                <label for="surname-id">Last Name:</label>
                                <span class="small-text">Put your surname here</span>
                            </span>
                            <input type="text" id="surname-id" name="surname-id">
                        </p>
                        <p class="full-row">
                            <span class="contact-label">
                                <label for="email-id">E-mail:</label>
                                <span class="small-text">Type email address</span>
                            </span>
                            <input type="text" id="email-id" name="email-id">
                        </p>
                        <p class="full-row">
                            <span class="contact-label">
                                <label for="message">Message:</label>
                                <span class="small-text">Type email address</span>
                            </span>
                            <textarea name="message" id="message" rows="6"></textarea>
                        </p>
                        <p class="full-row">
                            <input class="mainBtn" type="submit" name="" value="Send Message">
                        </p>
                    </div>
                </div>
            </div> <!-- /.col-md-7 -->
</body>
</html>
