<div class="container">
   <div class="row">
      <!-- Here begin Main Content -->
      <div class="col-md-8">
         <div class="row">
            <div class="col-md-12">
              <div *ngFor= "let task of tasks">
               <div class="list-event-item" infinite-scroll
		                          [infiniteScrollDistance]="2"
		                          [infiniteScrollUpDistance]="1.5"
		                          [infiniteScrollThrottle]="3"
		                          (scrolled)="onScrollDown()"
		                          (scrolledUp)="onScrollUp()">
                  <div class="box-content-inner clearfix" >
                     <div class="list-event-thumb">
                        <a href="event-single.html">
                        <img src="images/events/event-list-thumb1.jpg" alt=" ">
                        </a>
                     </div>
                     <div class="list-event-header">
                        <span class="event-place small-text"><i class="fa fa-globe"></i>{{task.areacity}}</span>
                        <span class="event-place small-text"><i class="fa fa-globe"></i>{{task.city}}</span>
                        <span class="event-date small-text"><i [ngClass]="(task.admission=='Yes')?'fa fa-thumbs-up':'fa fa-thumbs-down'"></i>Admission</span>
                        <div class="view-details"><a href="event-single.html" class="lightBtn">Apply Now</a></div>
                        <div class="calendar-small" >
                           <span class="s-month">Rank</span>
                           <span class="s-date">#{{task.rank}}</span>
                        </div>
                    </div>
                     <h5 class="event-title"><a routerLink="/school">{{task.schoolname}}</a></h5>
                     <p>{{task.address}}</p>
                     <router-outlet></router-outlet>
                  </div>
                  <!-- /.box-content-inner -->
               </div>
               <!-- /.list-event-item -->
             </div>
              <!-- /.infinite-scroll -->
           </div>
            <!-- /.col-md-12 -->
         </div>
         <!-- /.row -->
         <div class="row">
            <div class="col-md-12">
               <div id="loadButton" class="loadButton">
                 <img src='images/loader.gif' alt=''>
               </div>
            </div>
            <!-- /.col-md-12 -->
         </div>
         <!-- /.row -->
      </div>
      <!-- /.col-md-8 -->
   </div>
   <!-- /.row -->
</div>
  <!-- /.container -->
