<div class="container">
   <div class="row">
      <!-- Here begin Main Content -->
      <div class="col-md-8">
         <div class="row">
            <div class="col-md-12">
              <div *ngFor= "let item of itemResults$|async">
               <div class="list-event-item">
                  <div class="box-content-inner clearfix" >
                     <div class="list-event-thumb">
                        <a><img src="images/events/event-list-thumb5.jpg" alt=" "></a>
                     </div>
                     <div class="list-event-header">
                        <span class="event-place small-text"><i class="fa fa-globe"></i>{{item?.areacity}}</span>
                        <span class="event-place small-text"><i class="fa fa-globe"></i>{{item?.city}}</span>
                        <span class="event-date small-text"><i [ngClass]="(item?.admission=='Yes')?'fa fa-thumbs-up': (item?.admission=='Yes')?'fa fa-thumbs-down':'fa fa-exclamation-triangle'"></i>Admission</span>
                        <div class="view-details"><a href="event-single.html" class="lightBtn">Apply Now</a></div>
                        <div class="calendar-small" >
                           <span class="s-month">Rank</span>
                           <span class="s-date">#{{item?.mass}}</span>
                        </div>
                    </div>
                     <h5 class="event-title"><a routerLink="/AboutUs" routerLinkActive="active">{{item?.name}}</a></h5>
                     <p>{{item?.address}}</p>
                  </div>
                  <!-- /.box-content-inner -->
                  
               </div>
               <!-- /.list-event-item -->
             </div>
              <!-- /.infinite-scroll -->
           </div>
            <!-- /.col-md-12 -->
         </div>
         <!-- /.row -->
         <div class="row">
            <div class="col-md-12">
               <div id="loadButton" class="loadButton">
                 <span *ngIf="loading; then load else end"></span>
                 <ng-template #load><img src='images/loading.gif' alt=''></ng-template>
                 <ng-template #end></ng-template>
               </div>

            </div>
            <!-- /.col-md-12 -->
         </div>
         <!-- /.row -->
      </div>
      <!-- /.col-md-8 -->
   </div>
   <!-- /.row -->
</div>
  <!-- /.container -->
