<div class="col-md-4" >
   <div class="widget-item">
      <div class="request-information">
         <h4 class="widget-title">List of Indian Schools</h4>
         <form action= "events-list.html" class="request-info clearfix" >
            <div class="full-row">
               <label for="first">State:</label>
               <div class="input-select">
                 <select [(ngModel)]="selectedState.id" name="first" id="first" class="postform" (change)="onSelect($event.target.value)">
                                         <option value="0" selected="selected">-- select --</option>
                  <option *ngFor="let state of states" value= "{{state.id}}">{{state.name}}</option>

                                     </select>
               </div>
               <!-- /.input-select -->
            </div>
            <!-- /.full-row -->
            <div class="full-row">
               <label for="second">City:</label>
               <div class="input-select">
                 <select name="second" id="second" class="postform">
                                       <option value="0" selected="selected">-- select --</option>
                                       <option *ngFor="let city of cities " value= {{city.id}}>{{city.name}}</option>


                                   </select>
                </div>
               <!-- /.input-select -->
            </div>
            <!-- /.full-row -->
            <div class="full-row">
               <div class="submit_field">
                  <input class="mainBtn pull-left" form="list" type="submit"  value="Submit Request" (click)= "performSearch(city)">
               </div>
               <!-- /.submit-field -->
            </div>
            <!-- /.full-row -->
         </form>
         <!-- /.request-info -->
      </div>
      <!-- /.request-information -->
   </div>
   <!-- /.widget-item -->

   
</div>
